.container-btn {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-btn {
  font-family: 'Poppins';
  background-color: #4c51af; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 40px;
  transition-duration: 0.4s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; /* Added position relative for pseudo-element */
    overflow: hidden;
}

.display-btn:hover {
  background-color: #91aff5; /* Darker Green */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Add a background color to the button on focus */
.display-btn:focus {
  outline: none;
  background: rgb(49, 47, 159);
}

/* Add a ripple effect on click */
.display-btn:active {
  background-color: #91aff5; /* Even Darker Green */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add some hover effect */
.display-btn:hover::before {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #91aff5;
  transition: all 0.4s;
  border-radius: 8px;
}
.display-btn:hover::before {
  width: 100%; /* Expand the underline on hover */
}

/* Add some hover effect */
.display-btn:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  border-radius: 8px;
}
