html { overflow-y: scroll; overflow-x:hidden; }
body { position: absolute; width: 100%; }
.weather-card-container {
    width: 50%; /* w-full */
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; /* Assuming gap-8 corresponds to a gap of 2rem */
    padding: 1rem 10%; /* Assuming py-4 corresponds to a vertical padding of 4rem and px-[10%] corresponds to a horizontal padding of 10% */
    justify-content: flex-start; /* jusitify-center (typo corrected) */
    align-items: center;
  }

  .second-part-page{
    width: 100%;
    height: 95vh;
    top: 100%;
    position: relative;
  }